.devices {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.devices .overlap-group-wrapper {
    background-color: #ffffff;
    height: 720px;
    width: 1280px;
}
.devices .overlap-group {
    height: 720px;
    position: relative;
    color: transparent;

}
.devices .rectangle {
    height: 456px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
}
.devices .rectangle-2 {
    height: 646px;
    left: 0;
    position: absolute;
    top: 74px;
    width: 1280px;
}
.devices .delete-a-refrigerator {
    height: 41px;
    left: 395px;
    position: absolute;
    top: 638px;
    width: 201px;
}
.devices .add-a-refrigerator {
    height: 41px;
    left: 173px;
    position: absolute;
    top: 638px;
    width: 199px;
}
.devices .delete-a-pantry {
    height: 41px;
    left: 931px;
    position: absolute;
    top: 638px;
    width: 199px;
}
.devices .add-a-pantry {
    height: 41px;
    left: 718px;
    position: absolute;
    top: 638px;
    width: 199px;
}
.devices .pantry {
    height: 48px;
    left: 640px;
    position: absolute;
    top: 306px;
    width: 48px;
}
.devices .devicetext {
    height: 120px;
    left: 102px;
    position: absolute;
    top: 154px;
    width: 415px;
}
.devices .freeze {
    height: 48px;
    left: 100px;
    position: absolute;
    top: 303px;
    width: 48px;
}
.devices .table-class {
    background-color: transparent;
    height: 42px;
    left: 161px;
    position: absolute ;
    top: 305px;
    width: 464px;
}
.devices .table-class2 {
    background-color: transparent;
    height: 42px;
    left: 700px;
    position: absolute ;
    top: 305px;
    width: 464px;
}

.devices .mydevices {
    display: block;
    height: 14px;
    left: 324px;
    position: absolute;
    top: 47px;
    width: 76px;
}
.devices .myinventory {
    height: 13px;
    left: 429px;
    position: absolute;
    top: 48px;
    width: 87px;
}
.devices .mygrocerylist {
    height: 14px;
    left: 534px;
    position: absolute;
    top: 47px;
    width: 99px;
}
.devices .smartmenu {
    height: 10px;
    left: 645px;
    position: absolute;
    top: 48px;
    width: 85px;
}
.devices .userbutton {
    height: 30px;
    left: 1221px;
    object-fit: cover;
    position: absolute;
    top: 35px;
    width: 32px;
}
.devices .icon {
    height: 25px;
    left: 112px;
    position: absolute;
    top: 38px;
    width: 152px;
}
