.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home .div {
    background-color: #ffffff;
    height: 720px;
    overflow: hidden;
    position: relative;
    width: 1280px;
}

.home .overlap {
    height: 43px;
    left: 654px;
    position: absolute;
    top: 594px;
    width: 434px;
}

.home .vector {
    height: 8px;
    left: 54px;
    position: absolute;
    top: 14px;
    width: 59px;
}

.home .img {
    height: 8px;
    left: 321px;
    position: absolute;
    top: 14px;
    width: 59px;
}

.home .rectangle {
    height: 35px;
    left: 108px;
    position: absolute;
    top: 0;
    width: 218px;
}

.home .ellipse {
    height: 43px;
    left: 369px;
    position: absolute;
    top: 0;
    width: 65px;
}

.home .mexican-cuisine {
    height: 21px;
    left: 164px;
    position: absolute;
    top: 8px;
    width: 107px;
}

.home .ellipse-2 {
    height: 43px;
    left: 0;
    position: absolute;
    top: 0;
    width: 64px;
}

.home .overlap-group {
    height: 581px;
    left: 93px;
    position: absolute;
    top: 0;
    width: 1187px;
}

.home .overlap-group-2 {
    height: 581px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 1186px;
}

.home .img-2 {
    height: 497px;
    left: 193px;
    position: absolute;
    top: 0;
    width: 993px;
}

.home .my-devices {
    height: 14px;
    left: 230px;
    position: absolute;
    top: 49px;
    width: 76px;
}

.home .my-inventory {
    height: 13px;
    left: 335px;
    position: absolute;
    top: 50px;
    width: 87px;
}

.home .my-grocery-list {
    height: 14px;
    left: 440px;
    position: absolute;
    top: 49px;
    width: 99px;
}

.home .smart-menu {
    height: 10px;
    left: 551px;
    position: absolute;
    top: 50px;
    width: 85px;
}

.home .user-button {
    height: 35px;
    left: 1127px;
    object-fit: cover;
    position: absolute;
    top: 35px;
    width: 32px;
}

.home .welcome-back {
    height: 108px;
    left: 1px;
    position: absolute;
    top: 169px;
    width: 229px;
}

.home .what-can-we-help {
    height: 90px;
    left: 6px;
    position: absolute;
    top: 356px;
    width: 324px;
}

.home .group {
    height: 41px;
    left: 0;
    position: absolute;
    top: 486px;
    width: 199px;
}

.home .image {
    height: 218px;
    left: 668px;
    object-fit: cover;
    position: absolute;
    top: 363px;
    width: 218px;
}

.home .icon {
    height: 25px;
    left: 6px;
    mix-blend-mode: darken;
    object-fit: cover;
    position: absolute;
    top: 39px;
    width: 25px;
}

.home .foodie {
    height: 16px;
    left: 52px;
    position: absolute;
    top: 46px;
    width: 66px;
}

.home .group-2 {
    height: 41px;
    left: 0;
    position: absolute;
    top: 540px;
    width: 377px;
}

.home .group-3 {
    height: 41px;
    left: 94px;
    position: absolute;
    top: 594px;
    width: 397px;
}

.home .group-4 {
    height: 41px;
    left: 94px;
    position: absolute;
    top: 648px;
    width: 435px;
}

.home .rectangle-2 {
    height: 9px;
    left: 2053px;
    position: absolute;
    top: -1297px;
    width: 28px;
}

.home .ellipse-3 {
    height: 218px;
    left: 2515px;
    position: absolute;
    top: -1490px;
    width: 218px;
}
